<div>
  <h2 id="page-heading" data-cy="UserProfileInterestHeading">
    <span jhiTranslate="learnApp.userProfileInterest.home.title">User Profile Interests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="learnApp.userProfileInterest.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-profile-interest"
        [routerLink]="['/user-profile-interest/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="learnApp.userProfileInterest.home.createLabel"> Create a new User Profile Interest </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userProfileInterests?.length === 0">
    <span jhiTranslate="learnApp.userProfileInterest.home.notFound">No userProfileInterests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userProfileInterests && userProfileInterests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="learnApp.userProfileInterest.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="learnApp.userProfileInterest.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userProfile.id">
            <span jhiTranslate="learnApp.userProfileInterest.userProfile">User Profile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="interest.name">
            <span jhiTranslate="learnApp.userProfileInterest.interest">Interest</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let userProfileInterest of userProfileInterests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-profile-interest', userProfileInterest.id, 'view']">{{ userProfileInterest.id }}</a>
          </td>
          <td>{{ userProfileInterest.code }}</td>
          <td>
            <div *ngIf="userProfileInterest.userProfile">
              <a [routerLink]="['/user-profile', userProfileInterest.userProfile?.id, 'view']">{{ userProfileInterest.userProfile?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userProfileInterest.interest">
              <a [routerLink]="['/interest', userProfileInterest.interest?.id, 'view']">{{ userProfileInterest.interest?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-profile-interest', userProfileInterest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-profile-interest', userProfileInterest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userProfileInterest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
