<div>
  <h2 id="page-heading" data-cy="UserProfileHeading">
    <span jhiTranslate="learnApp.userProfile.home.title">User Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="learnApp.userProfile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-profile"
        [routerLink]="['/user-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="learnApp.userProfile.home.createLabel"> Create a new User Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userProfiles?.length === 0">
    <span jhiTranslate="learnApp.userProfile.home.notFound">No userProfiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userProfiles && userProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="learnApp.userProfile.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="learnApp.userProfile.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="avatar">
            <span jhiTranslate="learnApp.userProfile.avatar">Avatar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="interests">
            <span jhiTranslate="learnApp.userProfile.interests">Interests</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userId">
            <span jhiTranslate="learnApp.userProfile.userId">User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="learnApp.userProfile.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let userProfile of userProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-profile', userProfile.id, 'view']">{{ userProfile.id }}</a>
          </td>
          <td>{{ userProfile.name }}</td>
          <td>
            <a *ngIf="userProfile.avatar" (click)="openFile(userProfile.avatar, userProfile.avatarContentType)">
              <img
                [src]="'data:' + userProfile.avatarContentType + ';base64,' + userProfile.avatar"
                style="max-height: 30px"
                alt="userProfile image"
              />
            </a>
            <span *ngIf="userProfile.avatar">{{ userProfile.avatarContentType }}, {{ byteSize(userProfile.avatar) }}</span>
          </td>
          <td>{{ userProfile.interests }}</td>
          <td>{{ userProfile.userId }}</td>
          <td>
            {{ userProfile.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
